body {
    font-family: 'Montserrat', sans-serif;
}

/* Generic Design */

.half-width {
    width: 50%;
}

.link {
    color: #ffffff;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(#f9c784, #ff8c42);
    border-radius: 30px;
}
h1 {
    font-size: 56px;
    font-weight: 600;
}
h2 {
    font-size: 46px;
    font-weight: 600;
}
p {
    font-size: 18px;
    font-weight: 500;
    color:rgb(82, 81, 81);
}

/* BANNER SECTION */
.banner {
    display: flex;
    margin: 40px;
}
.banner--left {
    margin-left: 30px;
}
.banner--left h1 {
    color: #4e598c;
    margin-top: 140px;
}
.banner--left span {
    color: #ff8c42;
}
.banner--left p {
    margin: 60px;
    margin-left: 0;
}
.banner--left-order {
    margin-top: 50px;
}
.banner--right img {
    float: right;
    width: 95%;
}

/* ABOUT SECTION */

.about {
    display:flex;
    margin-left: 0;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.about--left {
    margin: 40px;
    height: 560px;
}
.about--left img {
    height: 100%;
    margin: 0 auto;
    margin-left: 120px;
}
.about--right {
    margin-top: 20px;
}
.about--right h2 {
    margin-top: 120px;
    margin-bottom: 30px;
    color: #4e598c;
}
.about--right p {
    margin: 50px 0;
    margin-bottom: 90px;
    margin-right:  40px;
}
.about--right-contact {
    margin-top: 100px;
}

/* RECIPE SECTION */

.recipe {
    display:flex;
    flex-direction: column;
    margin: 0 40px;
}
.recipe--top h2 {
    text-align: center;
    color: #4e598c;
}
.recipe--top p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.recipe--bottom {
    display:flex;
    margin: 20px;
}
.recipe .recipe--item {
    margin-right: 80px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 6px #ccc;;  
}
.recipe .recipe--item:last-child {
    margin-right: 0;
}
.recipe--bottom img {
    margin: 30px;
    width: 80%; 
}
.recipe--item h3 {
    color: #ff8c42;
    text-align: center;
}
.recipe--item h3 span {
    color: #4e598c;
}
.recipe--item p {
    width: 80%;
    margin-left: 25px;
    text-align: justify;
}